.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: black;
  }
}
